<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <fieldset>
      <legend>Upload File</legend>
      <%= form_tag root_path, multipart: true do %>
        <div class="row">
          <%= file_field_tag :file %>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :transaction_date_column, 'Transaction Date Column' %>
              <%= select_tag :transaction_date_column, options_for_select(0..3, 0), class:'form-control' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :amount_column, 'Amount Column' %>
              <%= select_tag :amount_column, options_for_select(0..3, 2), class:'form-control' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :description_column, 'Description Column' %>
              <%= select_tag :description_column, options_for_select(0..3, 1), class:'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <%= submit_tag "Analyze", class:'btn btn-primary pull-xs-right', 'data-toggle' => "modal" , 'data-target' => "#myModal" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>